body{
   background-color: pink; 
   text-align: center;
   
}

h1 {
   color: white;
}

h1:hover {

   color:black
}
.listthingy {
   list-style-position: inside;
   padding: 2em;
   font-weight: bold;
}



h3 {
   padding: 1%;
   font-size: x-large;
}